* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}

:root {
  --background: #0f0f0f;
  --primary: #45a0f5;
  --secondary: #26e3c2;
  --text: #fcfcfc;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: var(--background);
}

.logo {
  font-weight: 700;
  color: var(--text);
  font-size: 3.6rem;
  padding-top: 5rem;
  text-align: center;
  margin-bottom: 2rem;
  animation: show-logo 0.6s forwards ease-out;
}

@keyframes show-logo {
  0% {
    transform: translateY(-12rem);
  }

  75% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

.search {
  margin-top: 5rem;
  display: flex;
  justify-content: center;

  animation: show-search 0.6s forwards ease-out;
}

@keyframes show-search {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.search .wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 65rem;
}

.input-field {
  position: relative;
  color: white;
  width: 90%;
}

.input-field span {
  position: absolute;
  pointer-events: none;
  transition: 0.15s ease;
  font-size: 1.6rem;
}

.input-field input {
  border: 0;
  color: var(--text);
  border-bottom: 2px solid var(--text);
  padding: 1.5rem 1.5rem 1rem 0.75rem;
  outline: none;
  font-size: 1.6rem;
  width: 100%;
  background: transparent;
}

.input-field span {
  bottom: 3.5rem;
  left: 0rem;
  transform: scale(0.8);
}

.search-button {
  border-radius: 50rem;
  border: 2px solid var(--text);
  padding: 1rem;
  width: 12rem;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 600;
  background: transparent;
  color: var(--text);
  transition: 0.15s ease;
}

.search-button:hover {
  color: var(--background);
  background: white;
}

.user-data-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  pointer-events: none;
  opacity: 0;
}

.lds-dual-ring.showing {
  opacity: 1;
  pointer-events: auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.user-data {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  transition: 0.15s ease;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}

.user-data.showing {
  opacity: 1;
  pointer-events: auto;
}

.user-images-wrapper {
  width: 70rem;
  position: relative;
}

.user-banner {
  width: 100%;
  height: 20rem;
  border-radius: 4rem 4rem 0 0;
}

.user-avatar {
  width: 13rem;
  border-radius: 50%;
  position: absolute;
  top: 13.5rem;
  border: 2px solid #444;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.user-info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 3rem;
  width: 100%;
  background: #151515;
  border-radius: 0 0 4rem 4rem;
  gap: 10rem;
}

.user-info-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.user-info-wrapper .title {
  color: var(--text);
  font-weight: 600;
  font-size: 1.7rem;
}

.user-info-wrapper .information {
  color: var(--text);
  font-size: 1.6rem;
}
